<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @webview.aaaa %></h1>
    <a href="<%= url_for :action => :show, :id => @webview.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @webview.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @webview.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="webview[aaaa]" class="fieldLabel">Aaaa</label>
            <input type="text" id="webview[aaaa]" name="webview[aaaa]" value="<%= @webview.aaaa %>" <%= placeholder( "Aaaa" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
